<div class="row">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">                    
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Sign In</div>
                <div class="text-right"><a href="#">Forgot password?</a></div>
            </div>  
            <div class="panel-body" >
                <form name="form1" id="loginform" class="form-horizontal" role="form">
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" class="form-control" placeholder="Enter E-mail Address" required ng-model="user.mail">                                        
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input type="password" class="form-control" placeholder=" Enter Password" required ng-model="user.password">
                    </div>
                    <div class="input-group">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember" value="1"> Remember me
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <button class="btn btn-success" type="submit" ng-disabled="form1.$invalid" ng-click="login(user)">Login</button>
                        </div>
                        <div class="col-sm-8 errortxt">
                            {{msgtxt}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="signup">
                                Don't have an account! 
                                <a href="#/signup">
                                    Sign Up Here
                                </a>
                            </div>
                        </div>
                    </div>    
                </form>     
             </div>                     
        </div>  
    </div>    
</div>
